.logo {
  font-family: $logoFont;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $accentColor;
  text-decoration: none;
  &__primary {
    color: $accentColor;
  }

  &__secondary--black {
    color: $titleTextColor;
  }

  &__secondary--white {
    color: $additionalTextColor;
  }
}
