$titleTextColor: #212121;
$accentColor: #2196f3;
$primaryTextColor: #757575;
$backgroundColor: #ffffff;
$heroSectionColor: #2f303a;
$teamSectionColor: #f5f4fa;
$contactsTextColor: rgba(255, 255, 255, 0.6);
$additionalTextColor: #ffffff;
$iconsColor: #afb1b8;
$cardGap: 30px;
$cardItem: 1;
$mainFont: 'Roboto', sans-serif;
$logoFont: 'Raleway', sans-serif;
